body {
	background: #3B9BFA;
	color: #fff;
}

h2 {
	font-size: 3em;
}

p {
	color: #fff;
	font-size: 2em;
}

.config-container {
	margin-top: 50px;
}

.config-group {
	margin-top: 30px;
}

.config-input {
	border-radius: 50px;
	border: 0;
	padding: 20px;
	font-size: 20px;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.config-label {
	font-family: "Open Sans Condensed", sans-serif;
	color: #fff;
	font-weight: 800;
}

.config-label:hover {
	cursor: pointer;
}

.config-btn {
	padding: 5px;
	width: 200px;
	margin-top: 50px;
	color: #000;
	display: none;
	background: #fff;
}

.config-btn:hover {
	background: #3B9BFA;
	border: 3px solid #fff;
	padding: 2px;
	box-shadow: none;
	color: #fff;
}

.config-checkbox {
	width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 0 !important;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.config-checkbox:checked {
	border: 3px solid #fff;
    background-color: #000;
    box-shadow: none;
}

.config-checkbox:hover {
	border: 3px solid #fff;
    background-color: #999;
    box-shadow: none;
}

.config-checkbox-label {
	vertical-align: middle;
	margin: 0 0 0 10px;
	font-size: 1.5em;
}

.config-hidden {
	display: none;
}

.config-checked {
	display: none;
}

.fb-login {
	background: url("../img/fb-login.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 300px;
	height: 50px;
	text-indent: -9999px;
	display: block;
}

